{{!-- title and scraping button will go here --}}
<div class="container">
    <div class="row">
        <div class="col s12 center">
            <h1>Skate Feed</h1>
            <h5>Stay up to date with everything skateboarding related!</h5>
        </div>
    </div>

    <div class="row center">
        <a class="waves-effect waves-light btn" id="scrape-button"><i class="material-icons left">cloud</i>update
            feed</a>
    </div>
</div>

{{#each results}}
<div class="row" id="scraped-articles">

    <div class="col s2">
        <img src="{{this.image}}" alt="{{this.title}}">
    </div>
    <div class="col s10" id="headline">
        <h4>{{this.title}}</h4>
        <p>{{this.description}}</p>
        <p>Check it out <a href="{{this.link}}">here</a></p>

        {{#each this.comment as |comment index| }}
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#comment-modal">Comments</a>

        <!-- Modal Structure -->
        <div id="comment-modal" class="modal">
            <div class="modal-content">
                <p>{{comment}}</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div>
        {{!-- this should terminate the comments iteration --}}
        {{/each}}

    </div>
</div>
{{!-- this terminates the scraped articles feed --}}
{{/each}}