{{!-- title and scraping button will go here --}}
<div id="poster">
    <div id="title" class="center container">
        <h1 class="white-bg">Skate Feed</h1>
        <h5><strong>Stay up to date with everything skateboarding related!</strong></h5>
    </div>

    <div class="row center">
        <a class="waves-effect waves-light btn" id="scrape-button"><i class="material-icons left">refresh</i>update
            feed</a>
    </div>
</div>


{{!-- iterate over the scraped articles --}}
{{#each results}}
<div class="row" id="scraped-articles">

    <div class="col s2">
        <img src="{{this.image}}" alt="{{this.title}}" class="responsive-img">
    </div>

    <div class="col s10" id="headline">
        {{!-- display the article's basic information --}}
        <h4 class="article-title">{{this.title}}</h4>
        <p>{{this.description}}</p>
        <p>Check it out <a href="{{this.link}}">here</a></p>

        <!-- Modal Trigger -->
        <button class="btn" data-id="{{this._id}}" id="comments-button">Comments</button>

        <!-- Modal Structure -->
        <div id="comment-modal" class="modal">

            <div class="modal-content">
                <h5>Comments</h5>
                {{!-- section where our comments will be dynamically output --}}
                <div id="comment-body" class="center"></div>
                <br>
                <form>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="add-comment-input" type="text" class="validate">
                            <label for="add-comment-input">Add A Comment</label>
                        </div>
                    </div>
                    <button class="btn" id="add-comment-button"><i
                            class="material-icons">add</i>
                    </button>
                </form>
            </div>

            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
    </div>
</div>
{{!-- this terminates the scraped articles feed iteration --}}
{{/each}}